/* https://coolors.co/app/f6f7eb-e94f37-393e41-3f88c5-44bba4  */
body {
}

.clsDiv1 {
    background-color: #f6f7eb;
}

.clsDiv2 {
    background-color: #44bba4;
    align-content: center;
}

.clsDiv3 {
    background-color: #3F88C5;
}

.clsDiv4 {
    background-color: #A2E134;
}