body {
	background: #0A1905;
    color: lightgreen;
}

.lightgreen {
    color: lightgreen;
}

p, a {
    text-decoration: none;
	text-shadow: 0 0 5px green;
	color: lightgreen;
	font-size: 20px;
	font-family: Courier New;
}

p::before { 
	content: "$\00a0";
}

a::before, a::after {
	content: "\00a0";
}

a:hover::before {
	content: "[";
}

a:hover::after {
	content: "]";
}

/* Override console theme for autocomplete */
.ui-menu .ui-menu-item a {
    color: black;
    text-shadow: 0 0 0px black;
	font-size: 0.65em;
	font-family: Arial;
}

.ui-menu .ui-menu-item a:hover::before, .ui-menu .ui-menu-item a:hover::after {
	content: "";
}